<h1 class="title">Confirm Your Registration</h1>
<p class="text">Welcome to your Aeropaye Account!<br/>
Here is your account activation link, click the link to verify your Aeropaye account:
</p>
<br/>
<a class="btn-link" href="{{link}}">VERIFY MY EMAIL</a>
<br/>
<br/>
<h1 class="title">Security Tips:</h1>
<ul>
  <li>Never give your password to anyone.</li>
  <li>Never call any phone number for someone claiming to be Aeropaye Support.</li>
  <li>Never send any money to anyone claiming to be a member of Aeropaye team.</li>
  {{!-- <li>Enable Google Two Factor Authentication.</li> --}}
  <li>Bookmark www.aeropaye.com and use only this domain.</li>
</ul>
<br />
<p>If you don't recognize this activity, please contact our customer support immediately at: <a href="https://www.aeropaye.com/contact">Aeropaye Support</a></p>
<br/>
<p class="text">Aeropaye Team<br/>
This is an automated message, please do not reply.</p>

